[submodule ".registry"]
	path = .registry
	url = https://github.com/dipterix/universe
	shallow = true
	branch = HEAD
[submodule "readNSx"]
	path = readNSx
	url = https://github.com/dipterix/readNSx
	shallow = true
	registered = true
[submodule "dipsaus"]
	path = dipsaus
	url = https://github.com/dipterix/dipsaus
	shallow = true
	registered = true
[submodule "rutabaga"]
	path = rutabaga
	url = https://github.com/dipterix/rutabaga
	shallow = true
	registered = true
[submodule "spfda"]
	path = spfda
	url = https://github.com/dipterix/spfda
	shallow = true
	registered = true
[submodule "threeBrain"]
	path = threeBrain
	url = https://github.com/dipterix/threeBrain
	shallow = true
	branch = nightly-dev
	registered = true
[submodule "restbatch"]
	path = restbatch
	url = https://github.com/dipterix/restbatch
	shallow = true
	registered = true
[submodule "filearray"]
	path = filearray
	url = https://github.com/dipterix/filearray
	shallow = true
	registered = true
[submodule "rpymat"]
	path = rpymat
	url = https://github.com/dipterix/rpymat
	shallow = true
	registered = true
[submodule "raveio"]
	path = raveio
	url = https://github.com/beauchamplab/raveio
	shallow = true
	branch = nightly-dev
	registered = true
[submodule "ravetools"]
	path = ravetools
	url = https://github.com/dipterix/ravetools
	shallow = true
	registered = true
[submodule "rave"]
	path = rave
	url = https://github.com/beauchamplab/rave
	shallow = true
	registered = true
[submodule "shidashi"]
	path = shidashi
	url = https://github.com/dipterix/shidashi
	shallow = true
	registered = true
[submodule "ravemanager"]
	path = ravemanager
	url = https://github.com/dipterix/ravemanager
	shallow = true
	registered = true
[submodule "lazyarray"]
	path = lazyarray
	url = https://github.com/dipterix/lazyarray
	shallow = true
	registered = true
[submodule "Rvcg"]
	path = Rvcg
	url = https://github.com/cran/Rvcg
	shallow = true
	registered = true
